(20 points). Write a python program to collect text data from **either of the following sources** and save the data into a **csv file**:
 (2) Collect all User Reviews of the film [Shang-Chi and the Legend of the Ten Rings](https://www.imdb.com/title/tt9376612/reviews?ref_=tt_sa_3) from IMDB.

In [1]:
# Write your code here
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
from selenium.webdriver import ActionChains
import time

driver = webdriver.Chrome()
driver.get('https://www.imdb.com/title/tt9376612/reviews?ref_=tt_sa_3')

for n in range(48):
    submit_button = driver.find_elements_by_xpath('//*[@id="load-more-trigger"]')[0]
    ActionChains(driver).click(submit_button).perform()
    time.sleep(1)

    
time.sleep(2) 


ids = driver.find_elements_by_xpath("//*[contains(@data-review-id,'rw')]")
comment_ids = []
for i in ids:
    comment_ids.append(i.get_attribute('data-review-id'))
    
R_Title=[]
U_Name=[]
R_Star=[]
R_text=[]
R_P_Time=[]

In [2]:
print(len(comment_ids)) # Out of 1244 reviews

1225

In [3]:
print(comment_ids[10])

rw7299041

In [4]:
for x in range(len(comment_ids)):
    
    #Extract dates from for each user on a page
    
    # ONE
    try:
        Review_Title = driver.find_elements_by_xpath('//*[@data-review-id="' + comment_ids[x] + '"]/div/div/a')[0].text
        #print(Review_Title)
        R_Title.append(Review_Title)
    except (IndexError,AttributeError):
        Review_Title='null'
        #print(Review_Title)
        R_Title.append(Review_Title)
    
    
    
    # TWO
        
    try:
        User_Name = driver.find_elements_by_xpath('//*[@data-review-id="' + comment_ids[x] + '"]/div/div/div[2]/span[1]/a')[0].text
        #print(User_Name)
        U_Name.append(User_Name)
    except (IndexError,AttributeError):
        User_Name='null'
        #print(User_Name)
        U_Name.append(User_Name)
    
    
    
    # THREE
    
    try:
        Star=driver.find_elements_by_xpath('//*[@data-review-id="' + comment_ids[x] + '"]/div/div/div/span/span[1]')[0].text
        #print(Star)
        R_Star.append(Star)
    except (IndexError,AttributeError):
        Star='null'
        #print(Star)
        R_Star.append(Star)
        
    
    
    # FOUR
    
    try:
        Review_Text=driver.find_elements_by_xpath('//*[@data-review-id="' + comment_ids[x] + '"]/div/div/div[3]/div[1]')[0].text
        #print(Review_Text)
        R_text.append(Review_Text)
    except (IndexError,AttributeError):
        Review_Text='null'
        #print(Review_Text)
        R_text.append(Review_Text)
        
    
    
    # FIVE
    
    try:
        Review_Posted_Time=driver.find_elements_by_xpath('//*[@data-review-id="' + comment_ids[x] + '"]/div/div/div[2]/span[2]')[0].text
        #print(Review_Posted_Time)
        R_P_Time.append(Review_Posted_Time)
    except (IndexError,AttributeError):
        Review_Posted_Time='null'
        #print(Review_Posted_Time)
        R_P_Time.append(Review_Posted_Time)

In [5]:
import pandas as pd


# a = {'Links' : lines ,'Titles' : titles , 'Singers': finalsingers , 'Albums':finalalbums , 'Years' : years}
# df = pd.DataFrame.from_dict(a, orient='index')
# df = df.transpose()


test_df = {'User Name': U_Name,
'Star': R_Star,
'Review Title': R_Title,
'Review Text': R_text,
'Review Posted Time': R_P_Time
}

df = pd.DataFrame.from_dict(test_df, orient='index')
df = df.transpose()


# print(len(U_Name),len(R_Star),len(R_Title),len(R_text),len(R_P_Time))
# test_df

df

,User Name,Star,Review Title,Review Text,Review Posted Time
0,dominicwood-14504,9,Who knew a superhero film could be so beautiful?,I'll start by saying that if you're looking fo...,4 September 2021
1,laviniadallam,10,something unique and fresh,After 10 years of almost every movie being.arm...,2 September 2021
2,Radio-1s_Mr-MovieMad-Ami_104-1FM,9,"Crouching Tiger, Hidden MARVEL . . . And So MU...","A -BIG- Screen Mini Review. Viewed Sept.05, 20...",8 September 2021
3,mhatreritesh,9,It's a Visual treat,Perfect Fantasy film to watch with full family...,4 September 2021
4,nishantsalhotrans,10,Best non-avengers MCU movie,Keeping it short. This movie had it all. Great...,6 September 2021
...,...,...,...,...,...
1220,reemtherat,9,My eyes were blessed,Tony leung I will no longer be a minor in a fe...,11 September 2021
1221,jlawnewbie,7,Solid movie overall- just lacking in some parts.,I thought that this movie was pretty good. I w...,11 September 2021
1222,hillailonen,9,cried like a baby,One of the best mcu movies tbh I really liked ...,11 September 2021
1223,saadanathan,7,Really enjoyable film 7/10,Shang - Chi is the new hero of the MCU and eve...,11 September 2021
1224,Aris25,7,"Honestly, better than I expected!",null,11 September 2021

In [8]:
df.to_csv('file_name.csv', index=False)

Here is a [legal case](https://github.com/unt-iialab/info5731-fall2021/blob/main/assignments/01-05-1%20%20Adams%20v%20Tanner.txt) we collected from westlaw, please follow the steps we mentioned in lesson 5 to clean the data:



(1) Basic feature extraction using text data

*   Number of sentences
*   Number of words
*   Number of characters
*   Average word length
*   Number of stopwords
*   Number of special characters
*   Number of numerics
*   Number of uppercase words

(2) Basic Text Pre-processing of text data

*   Lower casing
*   Punctuation removal
*   Stopwords removal
*   Frequent words removal
*   Rare words removal
*   Spelling correction
*   Tokenization
*   Stemming
*   Lemmatization

(3) Save all the **clean sentences** to a **csv file** (one column, each raw is a sentence) after finishing all the steps above.


(4) Advance Text Processing

*   Calculate the term frequency of all the terms.
*   Print out top 10 1-gram, top 10 2-grams, and top 10 3-grams terms as features.

In [10]:
# 1.1 Number of Words
import pandas as pd
train = pd.read_csv('file_name.csv')
train['word_count'] = train['Review Title'].apply(lambda x: len(str(x).split(" ")))
train[['Review Title','word_count']].head()

                                        Review Title  word_count
0   Who knew a superhero film could be so beautiful?           9
1                         something unique and fresh           4
2  Crouching Tiger, Hidden MARVEL . . . And So MU...          17
3                                It's a Visual treat           4
4                        Best non-avengers MCU movie           4

In [11]:
#1.2 Number of characters
train['char_count'] = train['Review Title'].str.len() ## this also includes spaces
train[['Review Title','char_count']].head()

                                        Review Title  char_count
0   Who knew a superhero film could be so beautiful?          48
1                         something unique and fresh          26
2  Crouching Tiger, Hidden MARVEL . . . And So MU...          71
3                                It's a Visual treat          19
4                        Best non-avengers MCU movie          27

In [12]:
# 1.3 Average Word Length

def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

train['avg_word'] = train['Review Title'].apply(lambda x: avg_word(x))
train[['Review Title','avg_word']].head()

                                        Review Title  avg_word
0   Who knew a superhero film could be so beautiful?  4.444444
1                         something unique and fresh  5.750000
2  Crouching Tiger, Hidden MARVEL . . . And So MU...  3.235294
3                                It's a Visual treat  4.000000
4                        Best non-avengers MCU movie  6.000000

In [13]:
# 1.4 Number of stopwords
from nltk.corpus import stopwords

import nltk
nltk.download('stopwords')
stop = stopwords.words('english')

train['stopwords'] = train['Review Title'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['Review Title','stopwords']].head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\17655\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

                                        Review Title  stopwords
0   Who knew a superhero film could be so beautiful?          3
1                         something unique and fresh          1
2  Crouching Tiger, Hidden MARVEL . . . And So MU...          0
3                                It's a Visual treat          1
4                        Best non-avengers MCU movie          0

In [15]:
# 1.6 Number of numerics
train['numerics'] = train['Review Title'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
train[['Review Title','numerics']].head()

                                        Review Title  numerics
0   Who knew a superhero film could be so beautiful?         0
1                         something unique and fresh         0
2  Crouching Tiger, Hidden MARVEL . . . And So MU...         0
3                                It's a Visual treat         0
4                        Best non-avengers MCU movie         0

In [16]:
# 1.7 Number of Uppercase words
train['upper'] = train['Review Title'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
train[['Review Title','upper']].head()

                                        Review Title  upper
0   Who knew a superhero film could be so beautiful?      0
1                         something unique and fresh      0
2  Crouching Tiger, Hidden MARVEL . . . And So MU...      5
3                                It's a Visual treat      0
4                        Best non-avengers MCU movie      1

In [17]:
# 2.1 Lower case
train['Review Title'] = train['Review Title'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train['Review Title'].head()

0     who knew a superhero film could be so beautiful?
1                           something unique and fresh
2    crouching tiger, hidden marvel . . . and so mu...
3                                  it's a visual treat
4                          best non-avengers mcu movie
Name: Review Title, dtype: object

In [18]:
# 2.2 Removing Punctuation
train['Review Title'] = train['Review Title'].str.replace('[^\w\s]','')
train['Review Title'].head()

0      who knew a superhero film could be so beautiful
1                           something unique and fresh
2    crouching tiger hidden marvel    and so much  ...
3                                   its a visual treat
4                           best nonavengers mcu movie
Name: Review Title, dtype: object

In [19]:
# 2.3 Removal of Stop Words
from nltk.corpus import stopwords
stop = stopwords.words('english')
train['Review Title'] = train['Review Title'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train['Review Title'].head()

0             knew superhero film could beautiful
1                          something unique fresh
2    crouching tiger hidden marvel much much much
3                                    visual treat
4                      best nonavengers mcu movie
Name: Review Title, dtype: object

In [20]:
# 2.4 Common word removal
freq = pd.Series(' '.join(train['Review Title']).split()).value_counts()[:10]
freq

movie      250
marvel     207
good        97
best        94
great       89
mcu         77
amazing     53
film        50
story       46
one         46
dtype: int64

In [21]:
freq = list(freq.index)
train['Review Title'] = train['Review Title'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['Review Title'].head()

0           knew superhero could beautiful
1                   something unique fresh
2    crouching tiger hidden much much much
3                             visual treat
4                              nonavengers
Name: Review Title, dtype: object

In [22]:
# 2.5 Rare words removal
freq = pd.Series(' '.join(train['Review Title']).split()).value_counts()[-10:]
freq

flyer     1
repeat    1
soo       1
button    1
bored     1
guys      1
praise    1
hand      1
chang     1
martin    1
dtype: int64

In [23]:
freq = list(freq.index)
train['Review Title'] = train['Review Title'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['Review Title'].head()

0           knew superhero could beautiful
1                   something unique fresh
2    crouching tiger hidden much much much
3                             visual treat
4                              nonavengers
Name: Review Title, dtype: object

In [31]:
pip install -U textblob

Requirement already up-to-date: textblob in d:\anaconda3\lib\site-packages (0.15.3)
Requirement already satisfied, skipping upgrade: nltk>=3.1 in d:\anaconda3\lib\site-packages (from textblob) (3.5)
Requirement already satisfied, skipping upgrade: regex in d:\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2020.10.15)
Requirement already satisfied, skipping upgrade: joblib in d:\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (0.17.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied, skipping upgrade: click in d:\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied, skipping upgrade: tqdm in d:\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.50.2)

In [34]:
# 2.6 Spelling correction
from textblob import TextBlob

train['Review Title'][:5].apply(lambda x: str(TextBlob(x).correct()))

0           knew superhero could beautiful
1                   something unique fresh
2    crouching tiger hidden much much much
3                             visual treat
4                              nonavengers
Name: Review Title, dtype: object

In [35]:
# 2.7 Tokenization
import nltk
nltk.download('punkt')
TextBlob(train['Review Title'][1]).words

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\17655\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

WordList(['something', 'unique', 'fresh'])

In [36]:
# 2.8 Stemming
from nltk.stem import PorterStemmer
st = PorterStemmer()
train['Review Title'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0           knew superhero could beauti
1                    someth uniqu fresh
2    crouch tiger hidden much much much
3                          visual treat
4                              nonaveng
Name: Review Title, dtype: object

In [37]:
# 2.9 Lemmatization

from textblob import Word
import nltk
nltk.download('wordnet')

train['Review Title'] = train['Review Title'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
train['Review Title'].head()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\17655\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

0           knew superhero could beautiful
1                   something unique fresh
2    crouching tiger hidden much much much
3                             visual treat
4                              nonavengers
Name: Review Title, dtype: object