<a href="https://colab.research.google.com/github/AR4698/AbhishekReddy_INFO5731_Fall2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# write your answer here

cal_len_str=input("Enter a string : ")
count=0
for i in cal_len_str:
  count+=1

print("The length of string {} is {}".format(cal_len_str,count))
print("Length of string using len function ", len(cal_len_str))

Enter a string : Abhishek Reddy Boddu
The length of string Abhishek Reddy Boddu is 20
Length of string using len function  20

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here


def count_characters(Sample_String):
    dict = {}
    for i in Sample_String:
        s = dict.keys() # creating each letter as a key 
        if i in s:
            dict[i] += 1 # increasing the value of that key by 1 if it already exists.
        else:
            dict[i] = 1 # else initializing the value of the letter to 1.
    return dict

print(count_characters('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# write your answer here

list1=[2,3,4 ,34,209,35] # created a random list.
Sum=0 # to sum all the elements in the list 
for i in range(len(list1)):
  Sum+=list1[i]

print("Sum of all the items in list1 : {} is {} ".format(list1,Sum))

Sum of all the items in list1 : [2, 3, 4, 34, 209, 35] is 287

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here

sample_string='restart'

first_char=sample_string[0] # it stores 'r'

# now we need to replace all the 'r' in the string to '$'.

sample_string=sample_string.replace(first_char,'$') 

print("Sample output is {} ".format(sample_string))

# Now where all occurrences of its first char have been changed to '$', except the first char itself.

# we're concatinating the first_char('r') and rest of the sample string except first letter in that.

sample_string=first_char + sample_string[1:] 

print("Main output is : {} ".format(sample_string))

Sample output is $esta$t
Main output is : resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here

a= int(input("a = "))
b= int( input("b = "))

S = 3.14 * ( 1+(a/b))**3

print("result of S : {} ".format(S))

a = 3
b = 5
result of S : 12.861440000000004

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here

dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}

#One way

dic5={**dic1,**dic2,**dic3}
print(dic5)

#Another way


dic1.update(dic2) # here i am adding to dic2 to dic1
dic1.update(dic3) # here i am adding dic3 to updated dic1
print(dic1) # Here's the overall concatenated dictionary

# or we can do this way

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here

# Tuples are used to store multiple items in a single variable.

thistuple = ("apple", "banana", "cherry", "apple", "cherry")

print("apple" in thistuple)

print("pineapple" in thistuple)

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here

Aset={2,5,6,9,80,65,0.76}

print("Maximum in a set is {}".format(max(Aset)))

print("Minimum in a set is {}".format(min(Aset)))

Maximum in a set is 80
Minimum in a set is 0.76

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [60]:
# write your answer here

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037',
                'hc0439','ri0094','pk0339', 'hn0145','mn0426']

print("No.of students in the given list : {}".format(len(studnet_list)))

unique_set=set(studnet_list)

print(unique_set)

import random 

set2={}

n=len(studnet_list)

first loop - 29
everytime i take one out i remove that one from the list and incrementt the count +1 until it reaches 5 and total count is ghreater than 1

No.of students in the given list : 29
{'vmb0067', 'bk0301', 'nm0547', 'hc0439', 'at0768', 'ds0761', 'sg0940', 'tv0119', 'vl0135', 'rak0120', 'dd0420', 'spk0057', 'mn0426', 'rs0850', 'msp0174', 'ss1995', 'pk0339', 'at0739', 'hn0145', 'rrk0058', 'ttp0037', 'snd0097', 'py0080', 'yye0005', 'pc0353', 'dy0091', 'ri0094', 'pn0159', 'mv0299'}

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
# write your answer here

arr=[10,40,20,30,40,20,1,5]

dict={}

for i in arr:
        s = dict.keys() # creating each number as a key 
        if i in s:
            dict[i] += 1 # increasing the value of that key by 1 if it already exists.
        else:
            dict[i] = 1 # else initializing the value of the letter to 1.

new_arr=[-1]
for x, y in dict.items():
  if y>1:
    new_arr.append(x)

if len(new_arr)>1:
  print(new_arr[1:])
else:
  print(new_arr)

[40, 20]

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here