<a href="https://colab.research.google.com/github/AR4698/AbhishekReddy_INFO5731_Fall2021/blob/main/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [1]:
# Your code here

#Importing the random library package to generate random numbers
import random 

n=range(12) # Since we need to generate 12 numbers , given the range of 12 to n 
arr=[] # created an array to store the generated random numbers.

# the loop goes through 12 times and each time we're appending an random number that's being generated to an array.

for i in n :
    arr.append(random.randrange(1,100))

print(arr) # printing out the random numbers generated from the above for loop.

# Sorting the list of number's in ascending order 

# One way we can do this by using the sort() function which by default does sorting in ascending order.

asc=arr
asc.sort() # It does the sorting in ascending order
print("sorting with built-in function -> ascending order : {}".format(asc) )

# Another way is by using simple bubble sort algorithm as follows:-

asc_sort=arr

Number = int(12)


for i in range(Number):
    for j in range(i + 1,Number):
        if(asc_sort[i] > asc_sort[j]):
            temp = asc_sort[i]
            asc_sort[i] = asc_sort[j]
            asc_sort[j] = temp
            
print("Sorting without built-in function --> Ascending order : {}".format(asc_sort))

# Sorting the list of number's in descending order 

# One way we can do this by using the sort(reverse=True) function which  does sorting in descending order.

desc=arr
desc.sort(reverse=True) # It does the sorting in descending order.
print("sorting with built-in function --> descending order : {}".format(desc))

# Another way is by using simple bubble sort algorithm in reverse order as follows:-
desc_sort=arr

for i in range(Number):
    for j in range(i + 1,Number):
        if(desc_sort[i] < desc_sort[j]):
            temp = desc_sort[i]
            desc_sort[i] = desc_sort[j]
            desc_sort[j] = temp

print("Sorting without built-in function in reverse order --> descending order : {}".format(desc_sort))

# Calculating the Average of the group

Sum = 0

for i in n:
    Sum += arr[i]
    
Avg=Sum/12

print("Total value of the group is : {} and The Average of the group is {}".format(Sum,Avg))

[10, 23, 37, 25, 85, 56, 4, 71, 30, 38, 98, 74]
sorting with built-in function -> ascending order : [4, 10, 23, 25, 30, 37, 38, 56, 71, 74, 85, 98]
Sorting without built-in function --> Ascending order : [4, 10, 23, 25, 30, 37, 38, 56, 71, 74, 85, 98]
sorting with built-in function --> descending order : [98, 85, 74, 71, 56, 38, 37, 30, 25, 23, 10, 4]
Sorting without built-in function in reverse order --> descending order : [98, 85, 74, 71, 56, 38, 37, 30, 25, 23, 10, 4]
Total value of the group is : 551 and The Average of the group is 45.916666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [2]:
# Your code here

# (1) Ask the user to enter two sentences.
# str1=input("Enter a sentence : ")
# str2=input("Enter Another sentence : ")

# (2) Make each sentence into a list.

# One way of doing it , if the special characters 
# are also taken as words separated by white spaces
# str1_list=list(str1.split(" "))
# str2_list=list(str2.split(" "))

# print(str1_list) # Prints the sentence into list of words of string "str1"
# print(str2_list) # Prints the sentence into list of words of string "str2"

# Another way of doing it if the special characters aren't entered with spaces like the one in example.
# Alas! Am I alive? This is my first python program

# string_test= "Alas! Am I alive? This is my first python program"
# test=[]
# attach=[]
# l=[]
# str3=''
# for c in string_test:
#     if(c!=' ' or c!='!' or c!='?'):
#         str3+=c
#         continue
#     elif c=='!' or c=='?':
#         test.append(str3) 
#         str3=''
#         str3+=c
#         test.append()
#         str3=''
#     elif c==' ':
#         test.append(c)
#     elif c=='?':
#         test.append(c)

import string # The built-in string class provides the ability to do complex variable substitutions
import re # This module provides regular expression matching operations

# (1) Ask the user to enter two sentences.
print('Ask the user to enter two sentences')
str1 = input("Enter sentence one: ")
str2 = input("Enter sentence T: ")
print('---------------------------------------------------------------------')
# (2) Make each sentence into a list.
print('Making each sentence into a list')
t1 = re.findall(r"[\w']+|[.,!?;:]", str1)
t2 = re.findall(r"[\w']+|[.,!?;:]", str2)
print('---------------------------------------------------------------------')
# Printing out the sentences
print('Printing out the sentences in the form of lists')
print("First sentence:",t1)
print("Second Sentence:",t2)
print('---------------------------------------------------------------------')
# (3) Compare the two sentences. Print out a list of words that occur in both sentences.
print('Compare the two sentences. Print out a list of words that occur in both sentences.')
for w1 in t1:
    for w2 in t2:
        if w1.lower() == w2.lower():
            print(w1)

print('---------------------------------------------------------------------')
    
# (4) Remove any punctuation from the sentence and print it back out. It should remove
# at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)
  
print('Removing punctuations from both the sentence and print it back out')
re_str1 = re.sub(r'[^\w\s]','',str1)
print(re_str1)
print('--------')
re_str2= re.sub(r'[^\w\s]','',str2)
print(re_str2)
print('---------------------------------------------------------------------')         
# (5) Count the number of vowels in the sentences. Print out each vowel and the number of times 
# it appears in the sentences, such as: a:2, e:1, i:0, etc
  
vowels_str1 = {'a':0, 'e':0, 'i':0, 'o':0, 'u':0}
vowels_str2 = {'a':0, 'e':0, 'i':0, 'o':0, 'u':0}
for l in str1:
    if l.lower() in vowels_str1:
        vowels_str1[l.lower()] += 1

print("\nVowel frequency in str1 ",vowels_str1)

print('-------------')
for t in str2:
    if t.lower() in vowels_str2:
        vowels_str2[t.lower()] += 1

print("\nVowel frequency in str2 ",vowels_str2)

Ask the user to enter two sentences
Enter sentence one: Hey Abhishek , How're you doing ?
Enter sentence T: Hey Venu,Iam good .Hope you're doing well !!!
---------------------------------------------------------------------
Making each sentence into a list
---------------------------------------------------------------------
Printing out the sentences in the form of lists
First sentence: ['Hey', 'Abhishek', ',', "How're", 'you', 'doing', '?']
Second Sentence: ['Hey', 'Venu', ',', 'Iam', 'good', '.', 'Hope', "you're", 'doing', 'well', '!', '!', '!']
---------------------------------------------------------------------
Compare the two sentences. Print out a list of words that occur in both sentences.
Hey
,
doing
---------------------------------------------------------------------
Removing punctuations from both the sentence and print it back out
Hey Abhishek  Howre you doing
--------
Hey VenuIam good Hope youre doing well
---------------------------------------------------------------------

Vowel frequency in str1  {'a': 1, 'e': 3, 'i': 2, 'o': 3, 'u': 1}
-------------

Vowel frequency in str2  {'a': 1, 'e': 5, 'i': 2, 'o': 5, 'u': 2}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [3]:
# Your code here

pi = 3.1415926535897931 # Pi Value

# Volume V of a sphere with radius r


# The Formula --> V= 4.0/3.0*pi* r**3 



print('r  V ')
for r in range(1,11):
    print('{}  {}'.format(r,4.0/3.0*pi* r**3))

r  V
1  4.1887902047863905
2  33.510321638291124
3  113.09733552923254
4  268.082573106329
5  523.5987755982989
6  904.7786842338603
7  1436.7550402417319
8  2144.660584850632
9  3053.6280592892786
10  4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731-fall2021/blob/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731-fall2021/blob/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [4]:
# Your code here

# Importing the Neccesary libraries

In [6]:
import pandas as pd
import statistics

denton_housing = pd.read_csv('Assignment1_denton_housing.csv')

1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. 
The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc.
Finally, print the values in the ascending order.

In [7]:
# number of Occupied Housing Units = Occ_Housing_Units

Occ_Housing_Units = denton_housing[denton_housing['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])

# the difference in the number of Occupied Housing Units from year to year = Diff_H_U_Y2Y

Diff_H_U_Y2Y= [list(Occ_Housing_Units['value'].values)[i] - list(Occ_Housing_Units['value'].values)[i+1]\
              for i in range(len(Occ_Housing_Units)-1)]

Diff_H_U_Y2Y = sorted(Diff_H_U_Y2Y) # Sorts in ascending order 

print('Values in ascending order as follows : {}'.format(Diff_H_U_Y2Y))

Values in ascending order as follows : [-5091, -2622, -1565, -1404, 303, 795]

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----

In [9]:
distinct_years = sorted(list(denton_housing['year'].unique()))   

# number of housing units which are  occupied.
occupied = denton_housing[denton_housing['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])

# number of housing units which are vacant.
vacant = denton_housing[denton_housing['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])

data = pd.DataFrame(columns=['year','Percent of Vacant House', 'Percent of Occupied House'])
data['year'] = distinct_years
data['Vacant House'] = vacant['value'].values
data['Occupied House'] = occupied['value'].values
data['Percent of Vacant House'] = [(data['Vacant House'][i] * 100) /\
                                           (data['Vacant House'][i] + data['Occupied House'][i])\
                                           for i in range(len(data))]
data['Percent of Occupied House'] = [(data['Occupied House'][j] * 100) /\
                                           (data['Vacant House'][j] + data['Occupied House'][j])\
                                           for j in range(len(data))]
data

   year  Percent of Vacant House  ...  Vacant House  Occupied House
0  2008                10.882653  ...          4483           36711
1  2009                 9.071116  ...          3583           35916
2  2010                 8.142556  ...          3635           41007
3  2011                 9.379522  ...          4213           40704
4  2012                 6.677600  ...          3013           42108
5  2013                 8.801788  ...          4215           43673
6  2014                 5.730111  ...          2814           46295

[7 rows x 5 columns]

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

In [10]:


# the highest number of housing units which are Occupied = highest_occ_housing_units
highest_occ_housing_units = max(denton_housing[denton_housing['title_field'] == 'Occupied Housing Units'].value)
df = pd.DataFrame(occupied,columns=['title_field','year','value'])
# pd.DataFrame(columns=['year','Percent of Vacant House', 'Percent of Occupied House'])
occupied = occupied[occupied['value'] == highest_occ_housing_units]
df

               title_field  year  value
20  Occupied Housing Units  2008  36711
17  Occupied Housing Units  2009  35916
14  Occupied Housing Units  2010  41007
11  Occupied Housing Units  2011  40704
8   Occupied Housing Units  2012  42108
5   Occupied Housing Units  2013  43673
2   Occupied Housing Units  2014  46295

In [11]:
# the highest number of housing units which are vacant = highest_v_housing_units
highest_v_housing_units = max(denton_housing[denton_housing['title_field'] == 'Vacant Housing Units'].value)
df = pd.DataFrame(vacant,columns=['title_field','year','value'])
vacant = vacant[vacant['value'] == highest_v_housing_units]
df

             title_field  year  value
19  Vacant Housing Units  2008   4483
16  Vacant Housing Units  2009   3583
13  Vacant Housing Units  2010   3635
10  Vacant Housing Units  2011   4213
7   Vacant Housing Units  2012   3013
4   Vacant Housing Units  2013   4215
1   Vacant Housing Units  2014   2814

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [12]:
print(statistics.harmonic_mean(list(denton_housing[denton_housing['title_field'] == 'Total Housing Units'].value)))

44398.28543969185